h1{
    text-align: center;
}

body{
    background-color: rgb(170, 170, 170);
   
}


button{
    padding: 10px 24px;
    background-color: rgb(82, 82, 82);
    display: block;
    margin: auto;
    color:#fff;
    border: none;
}

#burro{
    display: block;
    margin: auto;
    width: 200px;
    margin-top: 5%;
    position: relative;
}

.nomemaneiro{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style:normal;
  font-size: 100px;
  color: rgb(85, 85, 85);
}